<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802202870854-u3ltpgsmrsl75p8llh9q01tk5lbro8pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802202870854-u3ltpgsmrsl75p8llh9q01tk5lbro8pr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802202870854-e3f7qvkio0r8mqft45cgfble3okdpt62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJPTuMNM6wJlWK1d-VzvQaIbHJFwixhi8</string>
	<key>GCM_SENDER_ID</key>
	<string>802202870854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lorematteo.aftal</string>
	<key>PROJECT_ID</key>
	<string>aftal-b674</string>
	<key>STORAGE_BUCKET</key>
	<string>aftal-b674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802202870854:ios:27a383e98a779333ab9647</string>
</dict>
</plist>